*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* Home section */
.wrapper{
    width: 100%;
}

.banner-container{
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.banner-wrapper{
    width: 100%;
    background-color: #011A27;
}
.logo{
    width: 100px;
    margin: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav li{
    margin: 10px;
    color: #F0810F;
}

.nav li:hover{
    text-decoration: underline;
}



.team-wrapper{
    width: 100%;
    height: 90vh;

}

.team-container{
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#fff;
    
}


/*
 .title h2{
    text-align: center;
    font-size: 3em;
    color: #f0810f;

}



.title h2{
    text-align: center;
    font-size: 2em;
    color: #f0810f; 
} */

.title{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title h2{
    color: #F0810F;
    font-size: 2em;
}


.box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 0;
}


.image{
    width: 40%;

}


  .person{
    width: 400px;
    height: 500px;
    padding: 10px;
    margin-right: 10px;
    
}
.paragraph{
    display: block;
    width: 50%;
}


.paragraph p {
    margin: 10px 0;
    font-size: 1.4em;
    padding: 7px;

}

.paragraph p a{
    color: #F0810F;
    text-decoration: underline;
    font-size: 1.1em;
}

.paragraph h3{
    font-weight: lighter;
    font-size: 1.5em;
}
















/* footer section */

.footer-wrapper{
    height: 200px;
}

.footer-container{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


